@use '@angular/material' as mat;

@import '~@angular/material/theming';
@include mat-core();



/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-wrapper {
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.diario-add {
  display: flex;
  align-items: center;
  justify-content: center;
}


$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));


@include mat.all-component-themes($light-theme);

.dark-theme-mode {
  @include angular-material-theme($dark-theme);
}


.google:hover{
  background-color: rgb(196, 24, 24);
}

.fcb:hover{
  background-color: rgba(2, 10, 117, 0.959);
}

.red{
  color: rgb(230, 10, 32);
}

.v-middle{
  vertical-align: middle;
}